<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
		<link rel="stylesheet" href=/daeron.fr{{url_for('static', filename='style.css')}}>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>daeron.fr</title>
	</head>

	<body>

		<!-- Navigation bar -->
		<header class="header">
			<!-- Logo -->
			<a href="mailto:daeron@lsce.ipsl.fr" class="logo">daeron@lsce.ipsl.fr</a>

			<!-- Hamburger icon -->
			<input class="side-menu" type="checkbox" id="side-menu"/>
			<label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

			<!-- Menu -->
			<nav class="nav">
				<ul class="menu">
					<li><a href={{url_for('my_blueprint.main', page='about')}}>About</a></li>
					<li><a href={{url_for('my_blueprint.main', page='biblio')}}>Publications</a></li>
					<li><a href="https://github.com/mdaeron/D47crunch">D47crunch</a></li>
					<li><a href="http://clumpycrunch.pythonanywhere.com">ClumpyCrunch</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main content -->
		<main>
			<article class={{page}}>
				{% filter markdown %}{{md|safe}}{% endfilter %}
				<div class='footer'>Last modified on {{now}}</div>
			</article>
		</main>
	</body>

</html>